.my-card-body {
  height: calc(100vh - (55px + 48px));
  overflow-y: auto;
}

.my-card-body-gray {
  background-color: rgba(33, 37, 41, 0.1);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-header {
  background-color: rgba(33, 37, 41, 0.7);
  color: #FFF;
}

@media screen and (max-width: 768px) {
  .my-card-body{
    height: auto;
    max-height: 50vh;
  }
}

.form-control:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}
.form-control:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}
.form-check-input:valid:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}

.dropdown-item:active {
  background-color: #198754;
}

.tag-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; 
  width: 100%;
}

.icons {
  min-width: 50px;
}

.tag-container i {
  margin-left: 8px;
  display: none;
  transition: opacity 0.3s;
}

.tag-container:hover i {
  display: inline-block;
  opacity: 0.3; 
}

.tag-container i:hover {
  opacity: 1.0;
  cursor: pointer;
}

#tags-container {
  max-height: 80px;
  overflow: auto;
}

.h-60 {
  height: 60%;
}

.adj-margin {
  margin-right: 0;
  margin-left: 0;
}